<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadisticas</title>
</head>
<body>
    <app-navbar [titulo]="'Estadisticas'"></app-navbar>
    <div class="container">
        <h2>{{ user.name }}</h2>

        <div style="display: flex; width: 50%; margin: auto; justify-content: space-around;">
            <p class="titulos">Estado</p>
            <p class="titulos">Tus barcos restantes</p>
            <p class="titulos">Barcos del rival restantes</p>
            <p class="titulos">Nombre del rival</p>
        </div>
        <div class="estadistica" *ngFor="let estadistic of estadistica.data">
            <div class="partidas">
                    <p>{{ estadistic.user_name }}</p>
                </div>
                <div class="barcos">
                    <p>{{ estadistic.rival_ships_remaining }}</p>
                </div>
                <div class="barcos">
                    <p>{{ estadistic.user_ships_remaining }}</p>
                </div>
                <div class="rival">
                    <p>{{ estadistic.rival_name }}</p>
                </div>
            </div>
    </div>
</body>
</html>