<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <app-navbar [titulo]="'Dashboard'" ></app-navbar>

    <div class="container">
        <h1>Bienvenido usuario</h1>
        <div class="carta">
            <div class="juego">
                <button class="jugar btn" routerLink="/search">Jugar</button>
            </div>
        </div>

    </div>

</body>
</html>